
<body>
    <div class="container mt-4">
        <ul class="nav nav-tabs" id="discountTabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" onclick="clickTab(1)" href="/coupon-create/admin/#!/#tab1">Mã giảm giá</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" onclick="clickTab(2)" href="/coupon-create/admin/#!/#tab2">Điều kiện</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" onclick="clickTab(3)" href="/coupon-create/admin/#!/#tab3">Giảm giá</a>
            </li>
        </ul>
        <div class="tab-content mt-3">
            <!-- Tab 1: Mã giảm giá -->
            <div class="tab-pane fade show active" id="tab1">
                <form>
                    <div class="form-group">
                        <label>ID</label>
                        <input disabled type="text" ng-model="coupon.id" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Mã giảm giá</label>
                        <input type="text" ng-model="coupon.code" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Tên</label>
                        <input type="text" ng-model="coupon.name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Ngày bắt đầu</label>
                        <input type="datetime-local" ng-model="coupon.start_date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Ngày kết thúc</label>
                        <input type="datetime-local" ng-model="coupon.end_date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <select ng-model="coupon.status" class="form-control">
                            <option ng-value="1">Mở</option>
                            <option ng-value="0">Tắt</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Điều kiện mua hàng</label>
                        <input type="text" ng-model="coupon.condition_info_apply" class="form-control">
                    </div>
                    
                </form>
            </div>
            
            <!-- Tab 2: Điều kiện -->
            <div class="tab-pane fade" id="tab2">
                <div ng-repeat="condition in coupon.condition_data" class="border default" style="margin-bottom: 50px;">
                    <div class="form-group ">
                        <label>Loại điều kiện</label>
                        <select id="conditionType" ng-model="condition.type_condition" class="form-control">
                            <option value="cart">Giảm giá đơn hàng</option>
                            <option value="product">Giảm giá theo sản phẩm</option>
                        </select>
                    </div>
                    <div id="orderCondition" ng-if="condition.type_condition == 'cart'">
                        <label>Tổng số tiền</label>
                        <select class="form-control" ng-model="condition.condition">
                            <option value="<"><</option>
                            <option value="<="><=</option>
                            <option value="=" >=</option>
                            <option value=">">></option>
                            <option value=">=">>=</option>
                        </select>
                        <input type="number" class="form-control mt-2" ng-value="condition.number_cart" placeholder="Nhập số tiền">
                    </div>
                    <div id="productCondition"  ng-if="condition.type_condition == 'product'">
                        <label>Loại điều kiện</label>
                        <select id="productConditionType" ng-model="condition.condition_apply" class="form-control">
                            <option value="number">Số lượng</option>
                            <option value="price">Giá tiền</option>
                        </select>
                        <input type="text" class="form-control mt-2" ng-model="condition.product_code" placeholder="Mã sản phẩm" data-target="#product-condition" data-toggle="modal" ng-click="getProductsDiscountCoupon($index)">
                        <input type="text" class="form-control mt-2" ng-model="condition.product_name" placeholder="Tên sản phẩm" data-target="#product-condition" data-toggle="modal" ng-click="getProductsDiscountCoupon($index)">

                        <select class="form-control mt-2" ng-model="condition.condition">
                            <option *ng-value="<"><</option>
                            <option *ng-value="'<='"><=</option>
                            <option *ng-value="=">=</option>
                            <option *ng-value=">">></option>
                            <option *ng-value=">=">>=</option>
                        </select>
                        <input type="number" class="form-control mt-2" ng-model="condition.number_product" placeholder="Nhập số lượng hoặc giá tiền">
                    </div>
                </div>
                <div>
                    <label>Áp dụng điều kiện:</label>
                    <select name="" id="" class="form-control mt-2" ng-change="all_condition_apply_change(all_condition_apply)" ng-model="all_condition_apply">
                        <option value="TOGETHER" ng-selected="coupon.condition_data[0].all_condition_apply == 'TOGETHER'">Áp dụng tất cả</option>
                        <option value="ANY"  ng-selected="coupon.condition_data[0].all_condition_apply == 'ANY'">Áp dụng bất kỳ</option>
                    </select>
            </div>
            </div>
            
            <!-- Tab 3: Giảm giá -->
            <div class="tab-pane fade" id="tab3">
                <div ng-repeat="discount in coupon.discount">
                    <label>Loại giảm giá</label>
                <select id="discountType" class="form-control" ng-model="discount.type_apply">
                    <option value="cart">Giảm giá giỏ hàng</option>
                    <option value="product">Giảm giá sản phẩm</option>
                </select>
                <div id="cartDiscount" ng-if="discount.type_apply == 'cart'">
                    <label>Giảm giá giỏ hàng</label>
                    <input type="number" class="form-control" placeholder="Số tiền muốn giảm" ng-model="discount.number_cart">
                </div>
                <div id="productDiscount" ng-if="discount.type_apply == 'product'">
                    <label>Mã sản phẩm: </label>
                    <input type="text" class="form-control mt-2" ng-value="discount.product_code" placeholder="Mã sản phẩm" data-target="#product-discount" data-toggle="modal" ng-click="getProductsDiscountCoupon($index)">
                    <label>Tên sản phẩm: </label>
                    <input type="text" class="form-control mt-2" ng-value="discount.product_name" placeholder="Tên sản phẩm" data-target="#product-discount" data-toggle="modal" ng-click="getProductsDiscountCoupon($index)">
                    <label>Loại giảm giá: </label>
                    <!-- <input type="text" class="form-control mt-2" ng-value="discount.product_name" placeholder="Loại giảm giá phần trăm/tiền"> -->
                     <select  ng-model="discount.discount_type" class="form-control mt-2">
                        <option value="price">Tiền</option>
                        <option value="percent">Phần trăm</option>
                     </select>
                     <label ng-if="discount.discount_type == 'price'">Số tiền giảm: </label>
                     <label ng-if="discount.discount_type == 'percent'">Số phần trăm giảm: </label>
                    <input type="number" class="form-control mt-2" ng-model="discount.number_product" placeholder="Số tiền giảm">
                    <label>Giới hạn số tiền giảm: </label>
                    <input type="number" class="form-control mt-2" ng-model="discount.discount_price_limit" placeholder="Số tiền giới hạn giảm">
                </div>
                </div>
            </div>
        </div>
                    <button type="submit" class="btn btn-primary col-1 offset-9" ng-click="saveCoupon()" style="margin-top: 10px;">Lưu</button>
                    <button type="reset" class="btn btn-danger col-1" ng-click="removeCoupon(coupon.id)" style="margin-top: 10px;" ng-if="coupon.id">Xóa</button>
                    <!-- <button></button> --><a   class="btn btn-danger col-1" style="margin-top: 10px;" type="reset"  href="#!/coupon-list">Đóng</a>
        <div class="modal fade"  id="product-discount" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="infoModalLabel">Thêm quà tặng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <div class="row col-12">
                                    <label class="col-4" for="">Mã sản phẩm: </label>
                                    <input class="col-6" type="text" id="input-product-search-discount-popup"  >
                                    <button class="col-2 btn btn-light" ng-click="getProductsCouponInPopup('input-product-search-discount-popup')"> <i class="bi bi-search"></i> </button>
                            </div>
      
                            <div class="row col-12">
                                <select id="value-discount-coupon-item" class="selectpicker col-12 form-control" data-live-search="true">
                                    
                                    <option value="{{product.code}},{{product.name}}" ng-repeat="product in products_coupons">({{product.code}}) &nbsp; {{product.name}}</option>
                                </select>
                            </div>
                            <div class="row col-12">
                                <button class="col-3 offset-9 btn btn-success" data-dismiss="modal" ng-click="addProductsDiscountCoupon()">Thêm vào</button>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary">Lưu</button>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="modal fade"  id="product-condition" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="infoModalLabel">Thêm quà tặng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <div class="row col-12">
                                    <label class="col-4" for="">Mã sản phẩm: </label>
                                    <input class="col-6" type="text" id="input-product-search-condition-popup"  >
                                    <button class="col-2 btn btn-light" ng-click="getProductsCouponInPopup('input-product-search-condition-popup')"> <i class="bi bi-search"></i> </button>
                            </div>
      
                            <div class="row col-12">
                                <select id="value-condition-coupon-item" class="selectpicker col-12 form-control" data-live-search="true">
                                    
                                    <option value="{{product.code}},{{product.name}}" ng-repeat="product in products_coupons">({{product.code}}) &nbsp; {{product.name}}</option>
                                </select>
                            </div>
                            <div class="row col-12">
                                <button class="col-3 offset-9 btn btn-success" data-dismiss="modal" ng-click="addProductsConditionCoupon()">Thêm vào</button>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary">Lưu</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <script>
        // $(document).ready(function () {
        //     $('#conditionType').change(function () {
        //         if ($(this).val() === 'order') {
        //             $('#orderCondition').show();
        //             $('#productCondition').hide();
        //         } else {
        //             $('#orderCondition').hide();
        //             $('#productCondition').show();
        //         }
        //     });
        //     $('#discountType').change(function () {
        //         if ($(this).val() === 'cart') {
        //             $('#cartDiscount').show();
        //             $('#productDiscount').hide();
        //         } else {
        //             $('#cartDiscount').hide();
        //             $('#productDiscount').show();
        //         }
        //     });
        // });
    </script>
</body>

<script>
function clickTab(tab){
                if (tab == 1){
                    document.getElementById("tab2").classList.remove("active");
                    document.getElementById("tab2").classList.remove("show");
                    document.getElementById("tab3").classList.remove("active");
                    document.getElementById("tab3").classList.remove("show");
                }
                if (tab == 2){
                    document.getElementById("tab1").classList.remove("active");
                    document.getElementById("tab1").classList.remove("show");
                    document.getElementById("tab3").classList.remove("active");
                    document.getElementById("tab3").classList.remove("show");
                }
                if (tab == 3){
                    document.getElementById("tab2").classList.remove("active");
                    document.getElementById("tab2").classList.remove("show");
                    document.getElementById("tab1").classList.remove("active");
                    document.getElementById("tab1").classList.remove("show");
                }
                document.getElementById("tab" + tab).classList.toggle("active");
                document.getElementById("tab" + tab).classList.toggle("show");
        }
                </script>
</html>
