
<style>
    .button-login{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    </style>
    
    <div class="container" ng-controller="LoginAdminController">
           <div class="row col-sm-12">
                <label>Email: </label> <br>
                <input type="email" class="form-control" ng-model="email">
                <label>Mật khẩu: </label> <br>
                <input type="password" class="form-control"  ng-model="password">
                <br>
                <button class="btn btn-success button-login" ng-click="loginAdmin()">Đăng nhập</button> <br>
           </div>
    </div>
    <script>
           
    </script>
    